@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.not-found {
    box-sizing: border-box;

    & > h1 {
        text-align: center;
        margin: 0;
        padding-top: 64px;
    }
}
